body {
    background-color: #f0f0f0;
    display: inline;

    height: 100vh;
    width: 100vw;
}

#header {
    /*Positioning*/
    text-align: center;
    margin-top: -1.25rem;
    
    /*Design*/
    background-image: url("../Images/banner.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
}

#logo {
    /*Positioning*/
    /*Design*/
    width: 20%;
    margin-right: 90%;
}

#menu {
    /*Positioning*/
    position: relative;

    /*Design*/
    border-bottom: 1px solid #cccdcf;
    background-color: #eaeaee;
}

#menu ul {
    /*Positioning*/
    list-style: none;
    display: flex;
    justify-content: center;

    /*Design*/
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.menuItem {
    /*Positioning*/
    width: 200px;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    display: inline-block;
    position: relative;

    /*Design*/
    font-family: "Source Sans Pro", sans-serif;
    font-size: large;
    color: #596875;
    text-decoration: none;

    transition: 0.4s;
}

.parentMenu:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    text-decoration: none;
    display: block;
    background-color: #fff;
    border: 1px solid #f0f0f0;
}

.menuItem:hover {
    background-color:#d2d8e2;
    opacity: 1;
}

.backgroundImage {
    height: 100%;

    opacity: 0.8;
    background-image: url("../Images/concrete.jpeg");
    background-position: center;
}

.instagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#content {
    padding: 2rem;
    padding-top: 4rem;
}

/*#content a {
    padding-bottom: 1rem;

    opacity: 1;
    text-align: center; 
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size:xx-large;
    color: #596875;
}*/

.section {
    padding: 1rem;

    background-color: #f0f0f0;
}

/*****************************************************************/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -131px;
  padding: 25px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #eaeaee;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #303030;
}

/* Caption text */
.slidetext {
  color: #eaeaee;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: left;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



