body {
  background-color: #f0f0f0;
  display: inline;

  width: 100vw;

  overflow-x: hidden;
}

html, body{
  height: 100%;
}

#header {
  /*Positioning*/
  text-align: center;
  margin-top: -1.25rem;
  
  /*Design*/
  background-image: url("../Images/banner.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
}

#footer {
  position: fixed;
  bottom: 0;
}

.logo {
  /*Positioning*/
  /*Design*/
  height: 60px;
  
  margin-right: 20%;
}

#logo {
  /*Positioning*/
  /*Design*/
  height: 60px;
}

#menu {
  /*Positioning*/
  position: relative;

  /*Design*/
  border-bottom: 1px solid #d3d3d3;
  background-color: #e9e9e9;
}

#menu ul {
  /*Positioning*/
  list-style: none;
  display: flex;
  justify-content: center;

  /*Design*/
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.menuItem {
  /*Positioning*/
  width: 200px;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  
  display: inline-block;
  position: relative;

  /*Design*/
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  color: #596875;
  text-decoration: none;

  transition: 0.4s;
}

.parentMenu:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  text-decoration: none;
  display: block;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

.menuItem:hover {
  background-color:#d2d8e2;
  opacity: 1;
}

.backgroundImage {
  background-image: url("../Images/concrete.jpeg");
  background-repeat: repeat;
}

.instagram {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#content {
  margin-top: 5rem;
  margin-left: 8%;
  margin-right: 8%;
}

.section {
  border: 5px solid #e9e9e9;
  border-radius: 15px;
}

.section img, .section div img {
  border-radius: 15px;
}

#designer {
  align-self: flex-end;

  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto auto;
}

#designer div {
  font-weight: 150;
  font-size: larger;

  background-color: rgb(240, 240, 240);
  border: 5px solid #e9e9e9;
  border-radius: 15px;

  margin-top: 5rem;
  margin-left: 2rem;
  padding: 1rem;
  
  grid-column: 2;
  grid-row: 1;
  
  font-family: "Source Sans Pro", sans-serif;
}

#photo {
  width: 250px;
  height: auto;

  float: left;
  
  border-radius: 100%;
  background-color: rgb(240, 240, 240);

  border: 5px solid #e9e9e9;
  
  grid-column: 1;
  grid-row: 1;
}

#name {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 17rem;
  position: absolute;
  
  max-width: 210px;
  min-width: 0px;
  width: 210px;

  grid-column: 1;
  grid-row: 1;
}

.banner {
  border-radius: 15px;
  border: 5px solid #e9e9e9;
  background-color: rgb(240, 240, 240);

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  font-size: large;
  text-align: center;

  margin-top: 0px;
  padding: 1rem;
  
  min-width: 15%;
  width: fit-content;
}

#accreditation {
  display: inline-block; 
}

#accreditation img {
  width: auto;
  max-height: 90px;

  margin-right: 1rem;

  border: 5px solid #e9e9e9;
  border-radius: 10px;
}

.education {
  font-family: "Source Sans Pro", sans-serif; 
  background-color: rgb(240, 240, 240);; 
  float: right; 
  width: 65%;

  margin-bottom: 2rem;
}

.corporate {
  font-family: "Source Sans Pro", sans-serif;  
  color: rgb(85, 85, 85);
  
  background-color: rgb(240, 240, 240);
  border: 5px solid #e9e9e9;
  border-radius: 15px;

  margin-bottom: 2rem;

  display: grid;
}

.projectTitle {
  width: 400px;
  padding-bottom: 1rem;
  margin-bottom: 0;

  background-image: url("../Images/titleBackground.png");
  background-position-y: 15px;
  background-position-x: 10px;
  background-repeat: no-repeat;
}

/*****************************************************************/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow {
  position: relative;
  width: auto; 
  max-height: 800px; 
}

/* Hide the images by default */
.slide {
  display: none;
  margin-bottom: 1rem;
}

.slide img {
  /* width: auto; 
  height: 60%; 
  background-size: cover; */

    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #e9e9e9;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #303030;
}

/* Caption text */
.slidetext {
  color: #e9e9e9;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: left;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



